/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-image: url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Is this is the best way to approch the vertical center */
    padding: 250px 0 0 0;
}
.main{
    color: rgb(9, 255, 0);
    text-align: center;
    border: white solid;
    /* Why we have to use marign zero and auto to apply for the width? */
    margin: 0 auto;
    width: 50%;
    background-color: #00ffff3d;
}
/* I need to create new repository every new task */

.div2{
    margin: 400px 0 210px 0;
    margin-top: 400px;
}
.main2{
    color: #fff;
    text-align: center;
    border:navy solid;
    margin: 0 auto;
    width: 50%;
    background-color: #000000a1;
}